*{
    font-size:12px;
    margin:0px;
    padding:0px;
}

.main {
    min-width: 320px;
    max-width: 1350px;
    padding: 10px;    
    border-radius: 7px;;        
    background: #ffffff;
}

section {
    display: none;
    padding: 10px 0 0;
    border-top: 1px solid #ddd;
    margin-bottom:20px;
}

.div1{
    width:1567px;
}

input[type="button"]{
    margin:5px;
    padding:2px 4px;
    background-color: #c73c3c;
    border-radius: 5px;
}

input[type="button"]{
    margin:5px;
    padding:2px 4px;
    border-radius: 5px;
    background-color: #d42323;
    color: #ffffff;
    cursor: pointer;
}

.div2{
    width:1567px;
    height:600px;
    overflow:auto;
}

.div2 input[type="checkbox"]{
    width:10px;
    height:10px;
}

.selectColor{
    color:#ffff00;
}

.div3{
    width:1567px;
    height:775px;
    overflow:auto;
}

.div3-img{
    max-width: 150px;
    overflow: hidden;
}

.div3-img img{
    max-width: initial;
    margin-left: -160px;
    border:1px solid #444444;
}

/*
.div4{
    
}
*/

.div5{
    float:left;
    width:417px;
    height:710px;
    overflow:auto;
}

.div5 img{
    cursor: pointer;
    opacity: 0.2;
}

.div5 img:hover{
    opacity: 1;
}

.icon{
    opacity: 1 !important;
    cursor: default !important;
    width: 20px !important;
}

.div6{
    float:left;
    width:618px;
    height:710px;
    overflow:auto;
}

.div6-img{
    max-width: 150px;
    max-height: 150px;
    overflow: hidden;
    cursor: pointer;
}

.div6-img img{
    margin-left: -160px;
    border:1px solid #444444;
    opacity: 0.2;
}

.div6-img img:hover{
    opacity: 1;
}

.table1{
    width:1550px;
    border-collapse: collapse;
    margin-top:5px;
    background-image: url("./img/bg2.png");
    font-weight: bold;
    color: #ffffff;
}

.table1 th, .table1 td{
    text-align:center;
}

.table1 img {
    height:40px;
    width:40px;
}

.table2 {
    width:1550px;
    margin-top:5px;
    border-left:1px solid #444444;
    border-collapse: collapse;
    overflow:auto;
    background-image: url("./img/bg.png");
    font-weight: bold;
    color: #ffffff;
}

.table2 thead th{
    padding:10px;
    position: sticky;
    top: 0;
    background-color: #f8f8ff;
}

.table2 td:hover{
    background-color: #6699ff;
}

.table2 td{
    text-align:center;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

.table2 img {
    border:1px solid #444444;
}

.table2 span{
    cursor: pointer;
}

.table3 {
    width:1550px;
    margin-top:5px;
    border-left:1px solid #444444;
    border-collapse: collapse;
    overflow:auto;
    background-image: url("./img/bg.png");
    font-weight: bold;
    color: #ffffff;
}

.table3 thead th{
    padding:10px;
    position: sticky;
    top: 0;
    background-image: url("./img/bg.png");
}

.table3 td{
    text-align:center;
}

.table3 img {
    border:1px solid #444444;
}

.table4{
    width:1018px;
    border-collapse: collapse;
    margin-top:5px;
    background-color: #161626;
    font-weight: bold;
    color: #ffffff;
}

.storeColor{
    color:#54DEAA;
}

.table4 th, .table4 td{
    text-align:center;
}

.table5 {
    width:400px;
    border-left:1px solid #444444;
    border-collapse: collapse;
    overflow:auto;
    background-color: #161626;
    font-weight: bold;
    color: #ffffff;
}

.table5 td{
    text-align:center;
    margin-right: 10px;
    margin-bottom: 5px;
}

.table6 {
    width:600px;
    border-left:1px solid #444444;
    border-collapse: collapse;
    overflow:auto;
    background-color: #161626;
    font-weight: bold;
    color: #ffffff;
}

.table6 td{
    text-align:center;
    margin-right: 10px;
    margin-bottom: 5px;
}

input[type="text"]{
    width:40px;
    height:20px;
    text-align:right;
    border:1px solid #000000;
    margin-bottom:4px;
    padding:1px;
}

input[type="checkbox"]{
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    padding: 15px 25px;
    font-weight: 600;
    color: #bbb;
    border: 1px solid transparent;
}

label:hover {
    color: #2e9cdf;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #2e9cdf;
    border-bottom: 1px solid #ffffff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4{
    display: block;
}
    